/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*common styling*/

html{
    font-size: 16px;
}
body{
    font-family: 'Roboto', sans-serif;
   background-color: rgb(253,245,232);
}

.container{
    max-width: 1500px;
    border: 1px solid white;
    margin: 0 auto;
}


.text-center {
    text-align: center;
}

.flex{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-wrap{
   flex-wrap: wrap;
}

.flex-30{
    max-width : 30%
}


.width {
    max-width: 20%
}
.padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.margin{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*custom styling*/

.header h1{
    background-color: rgb(55,126,128);
    color: rgb(246,248,92);
    font-size: 2.6rem;
    padding: 1.2rem;
    font-weight: 500;
}
